<ion-header no-border>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-icon slot="icon-only" name="bonfire"></ion-icon>
    </ion-buttons>

    <ion-title>
      Trabajos
    </ion-title>
  </ion-toolbar>

  <ion-searchbar animated
                  (ionChange)="buscar( $event )">
  </ion-searchbar>


</ion-header>

<ion-content color="light">

  <!-- Refresher-->
  <ion-refresher slot="fixed" (ionRefresh)="recargar($event)">
      <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- Posts -->
  <app-posts [posts]="posts | filtro: textoBuscar"></app-posts>

  <!-- Infinite Scroll -->

  <ion-infinite-scroll [disabled]="!habilitado"
                        threshold="150px" 
                        (ionInfinite)="siguentes($event)">
      <ion-infinite-scroll-content>
      </ion-infinite-scroll-content>
  </ion-infinite-scroll>




</ion-content>
